openapi: 3.1.0
info:
  title: Esri ArcGIS Location Services Auth Routing API
  version: 1.0.0
  description: Subset of Esri's ArcGIS REST location services. Covers the World Geocoding Service (findAddressCandidates, geocodeAddresses, reverseGeocode, suggest), the World Routing Service (solveRoute), and the OAuth 2.0 token endpoint used by ArcGIS Platform / ArcGIS Online apps. Best-effort spec derived from publicly documented surfaces; not exhaustive.
  contact:
    name: Esri Developers
    url: https://developers.arcgis.com/
  license:
    name: Proprietary
servers:
- url: https://geocode-api.arcgis.com/arcgis/rest/services
  description: ArcGIS hosted geocoding base URL
- url: https://route-api.arcgis.com/arcgis/rest/services
  description: ArcGIS hosted routing base URL
- url: https://www.arcgis.com
  description: ArcGIS Online / OAuth base URL
security:
- apiKeyAuth: []
- oauth2: []
tags:
- name: Routing
paths:
  /World/Route/NAServer/Route_World/solve:
    get:
      tags:
      - Routing
      summary: Solve a route between stops
      operationId: solveRoute
      servers:
      - url: https://route-api.arcgis.com/arcgis/rest/services
      parameters:
      - in: query
        name: stops
        required: true
        description: Semicolon-separated x,y pairs or a JSON FeatureSet.
        schema:
          type: string
      - in: query
        name: returnDirections
        schema:
          type: boolean
          default: true
      - in: query
        name: directionsLanguage
        schema:
          type: string
          default: en
      - in: query
        name: travelMode
        schema:
          type: string
      - in: query
        name: f
        required: true
        schema:
          type: string
          enum:
          - json
          - pjson
      - in: query
        name: token
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Route solution including directions and geometry
components:
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: query
      name: token
      description: 'ArcGIS Platform API key or access token passed as the `token` query parameter (or `Authorization: Bearer <token>` header on REST services).'
    oauth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://www.arcgis.com/sharing/rest/oauth2/token
          scopes: {}
        authorizationCode:
          authorizationUrl: https://www.arcgis.com/sharing/rest/oauth2/authorize
          tokenUrl: https://www.arcgis.com/sharing/rest/oauth2/token
          scopes: {}
